extends ../layout/account-layout.pug
block content
  if warning
    h3 #{warning}
  h5 Reset Password
  form(, method="POST").m-5
    .form-group
      label(for="newPassword") New Password
      input#newPassword.form-control(type="password", name="newPassword", required)

    .form-group
      label(for="confirmPassword") Confirm Password
      input#confirmPassword.form-control(type="password", name="confirmPassword", required)

    button.btn.btn-primary(type="submit") Reset Password