extends ../layout/account-layout.pug
block content

    .d-flex.align-items-center.min-vh-100
        .container
            .row.justify-content-center
            .col-lg-4
                .card
                .card-body
                    h5.card-title.text-center Parola Sıfırlama Gönderildi
                    p.text-center Parola sıfırlama taleniz alınmıştır. E-posta adresinize talimatlar gönderilmiştir.