extends ../layout/account-layout.pug
block content
    .d-flex.align-items-center.min-vh-100
      .container
        .row.justify-content-center
          .col-lg-4
            .card
              .card-body
                h5.card-title.text-center Parola Sıfırlama
                form(method='POST')
                  .mb-3
                    label(for="email", class="form-label") E-posta Adresi
                    input#email.form-control(type="email", name="email", required)
                    button.btn.btn-primary.btn-block(type="submit") Parola Sıfırlama Talebi Gönder