doctype html
html(lang="en")


  include  ../includes/head.pug

  body


    //include  ../includes/navbar.pug
    .container.mt-5.mb-5
      include  ../includes/navbar.pug
      .row
        .col-3.mt-5
          include  ../includes/menu.pug
        .col-9 

          block content
  
    include ../includes/script.pug