doctype html
html(lang="en")


  include  ../includes/head.pug

  body


    //
    .container.mt-5.mb-5
        include  ../includes/navbar.pug
 

        block content
  
    include ../includes/script.pug